<%= form_tag "javascript:void(0)", class: "getInfo" do %>
  <%= label_tag "name", "Search for:" %>
  <%= text_field_tag "", nil, id: "name", class: "userName", autofocus: true %>
  <%= submit_tag %>
<% end %>

<div class="userData"></div>