<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Books Index</h1>
    <form method="post" action="/books/0?_method=delete">
      <button> Delete Book 0 </button>
    </form>
    <% books.forEach(function(book){ %>
      <h2> <%= book.title %> </h2>
      <p> This is book <%= book.id %> </p>
    <% }) %>
  </body>
</html>