<div>
  <h2>Name: <%= @creature.name %></h2>
  <p>Description: <%= @creature.description %></p>
</div>

<div>
  <% @comments.each do |comment| %>
    <div>
      <h3><%= comment.title %></h3>
      <p><%= comment.body %></p> 
    </div>
  <% end %>
</div>